<ion-header>
  
  <ion-toolbar>
    <ion-button slot="start">
    <ion-menu-button menuId="main-menu" content-id="main"></ion-menu-button>
  </ion-button>

    
  </ion-toolbar>   
  <ion-searchbar animated placeholder="WIKIPECHOUX"></ion-searchbar>



<ion-toolbar>

  <ion-img src="http://localhost:8100/assets/image/vpa.jpeg"></ion-img>

</ion-toolbar>


</ion-header>
<ion-toolbar>
  <strong>
    L'encylcopedie Géographique d'un multi
    </strong>
    

</ion-toolbar>
<ion-content [fullscreen]="true">

 
</ion-content>
